.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    width: 100%;
    max-width: 30rem;
    height: auto;
    color: var(--primary);
    opacity: 0.9;
}

@media (max-width: 640px) {
    .svg {
        max-width: 20rem;
    }
}