.container {
    display: grid;
    place-items: center;
    height: 100dvh;
    text-align: center;
    padding: 2rem;
}

.message {
    color: var(--base-400);
    margin: 1rem 0;
}

.resetButton {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
