[class*='-highlight'] {
    background-size: 0% 100%;
    background-repeat: no-repeat;
    animation: animatedBackground 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

.slate-highlight {
    background-image: linear-gradient(transparent 60%, #64748b44 60%);
}
.gray-highlight {
    background-image: linear-gradient(transparent 60%, #6b728044 60%);
}
.zinc-highlight {
    background-image: linear-gradient(transparent 60%, #71717a44 60%);
}
.neutral-highlight {
    background-image: linear-gradient(transparent 60%, #73737344 60%);
}
.stone-highlight {
    background-image: linear-gradient(transparent 60%, #78716c44 60%);
}
.red-highlight {
    background-image: linear-gradient(transparent 60%, #ef444444 60%);
}
.orange-highlight {
    background-image: linear-gradient(transparent 60%, #f9731644 60%);
}
.amber-highlight {
    background-image: linear-gradient(transparent 60%, #f59e0b44 60%);
}
.yellow-highlight {
    background-image: linear-gradient(transparent 60%, #eab30844 60%);
}
.lime-highlight {
    background-image: linear-gradient(transparent 60%, #84cc1644 60%);
}
.green-highlight {
    background-image: linear-gradient(transparent 60%, #22c55e44 60%);
}
.emerald-highlight {
    background-image: linear-gradient(transparent 60%, #10b98144 60%);
}
.teal-highlight {
    background-image: linear-gradient(transparent 60%, #14b8a644 60%);
}
.cyan-highlight {
    background-image: linear-gradient(transparent 60%, #06b6d444 60%);
}
.sky-highlight {
    background-image: linear-gradient(transparent 60%, #0ea5e944 60%);
}
.blue-highlight {
    background-image: linear-gradient(transparent 60%, #3b82f644 60%);
}
.indigo-highlight {
    background-image: linear-gradient(transparent 60%, #6366f144 60%);
}
.violet-highlight {
    background-image: linear-gradient(transparent 60%, #8b5cf644 60%);
}
.purple-highlight {
    background-image: linear-gradient(transparent 60%, #a855f744 60%);
}
.fuchsia-highlight {
    background-image: linear-gradient(transparent 60%, #d946ef44 60%);
}
.pink-highlight {
    background-image: linear-gradient(transparent 60%, #ec489944 60%);
}
.rose-highlight {
    background-image: linear-gradient(transparent 60%, #f43f5e44 60%);
}
