.indicator {
    left: 50%;
    bottom: 2rem;
    font-size: 0.8em;
    font-weight: 800;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.625rem 0.75rem;
    color: var(--neutral);
    animation: bounce 2s infinite;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    transform: translateX(-50%);
}

.indicator:hover {
    color: var(--neutral-focus);
}

.text {
    font-family: var(--font-mono);
}

@keyframes bounce {
    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(0.625rem);
    }
}
