.about {
    position: relative;
    width: var(--section-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    justify-content: center;
    line-height: 1.6em;
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.heading {
    font-size: var(--heading-size);
    font-weight: var(--heading-weight);
    width: max-content;
    margin: 0 0 1.2em;
}

.descriptions {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    line-height: var(--body-line-height);
    color: var(--body-color);
}

.descriptions p img {
    height: 1.5em;
    border-radius: 5px;
    vertical-align: middle;
    margin: 0 0.15em;
}

.nepaliFlag {
    position: relative;
    top: -5px;
    transform: rotate(-15deg);
}

.archImage {
    transform: rotate(-10deg);
}

.background {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    height: 10em;
    width: auto;
    pointer-events: none;
}
