@font-face {
    font-family: 'Patron';
    src: url('/fonts/Patron-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Standard';
    src: url('/fonts/GTStandard-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Standard';
    src: url('/fonts/GTStandard-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'GT Standard';
    src: url('/fonts/GTStandard-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GT Standard';
    src: url('/fonts/GTStandard-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'CaskaydiaMono Nerd Font Mono';
    src: url('/fonts/CaskaydiaMonoNerdFontMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CaskaydiaMono Nerd Font Mono';
    src: url('/fonts/CaskaydiaMonoNerdFontMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CaskaydiaMono Nerd Font Mono';
    src: url('/fonts/CaskaydiaMonoNerdFontMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CaskaydiaMono Nerd Font Mono';
    src: url('/fonts/CaskaydiaMonoNerdFontMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
