.tooltip {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    opacity: 0.9;
}

.logo {
    object-fit: contain;
    display: block;
    rotate: 4deg;
}
