.wrapper {
    animation: subtleBlur 0.2s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% entry 100%;
}

@keyframes subtleBlur {
    from {
        filter: blur(2px);
    }
    to {
        filter: blur(0);
    }
}
