.shell {
    width: var(--section-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding-inline: var(--section-padding);
    line-height: 1.6;
}

.heading {
    margin-block-end: 1em;
    font-size: var(--heading-size);
    line-height: var(--heading-line-height);
    -webkit-text-stroke-width: var(--heading-stroke-width);
    -webkit-text-stroke-color: currentColor;
    -webkit-text-fill-color: transparent;
    font-weight: var(--heading-weight);
    margin-block-end: var(--heading-margin);
}

@media (max-width: 640px) {
    .heading {
        font-size: calc(var(--heading-size) * 0.75);
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin-block-start: 1.5rem;
}

.footer {
    margin-block-start: auto;
}
