.about-me {
  position: relative;
}
.about-me h1 {
  font-size: 3rem;
  width: max-content;
  margin: 0 0 0.6em 0;
}

.my-descriptions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.5em;
  line-height: 1.5em;
  color: var(--base-300);
}

.my-descriptions p img {
  height: 1.5em;
  border-radius: 5px;
  vertical-align: middle;
}

.nepali-flag {
  position: relative;
  top: -5px;
  transform: rotate(-15deg);
  /* font-size: 0.8em; */
}

.arch-image {
  font-size: 0.7em;
  transform: rotate(-10deg);
}

.about-me-background {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  height: 10em;
}
