.action-buttons {
  display: flex;
  gap: 1.5em;
  align-items: flex-end;
}

#tooltip {
  position: fixed;
  pointer-events: none;
  z-index: 9999;

  max-width: 270px;
  padding: 5px 18px;

  background: var(--background);
  border-radius: 12px;
  border: 2px solid var(--neutral);
  backdrop-filter: blur(8px);

  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.15s ease, transform 0.15s ease;
}

#tooltip.show {
  opacity: 1;
  transform: scale(1);
}

.username {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.platform {
  font-size: 0.8em;
  color: var(--base-300);
}
