@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sigmar&display=swap");

:root {
  --gap: 10rem;
  --speed: 15s;
}

/* SECTION */
.work-in-progress {
  min-height: 350px;
  width: 100%;
  overflow: hidden;

  display: grid;
  place-items: center;

  background: url("../img/backgrounds/caution tapes.webp") bottom / cover
    no-repeat;

  font-family: "Sigmar", sans-serif;
}

/* VIEWPORT */
.ticker {
  width: 100%;
  overflow: hidden;
  transform: rotate(10deg);
  width: 110%;
}

/* MOVING TRACK */
.track {
  display: flex;
  gap: var(--gap);
  width: max-content;
  align-items: center;

  animation: scroll var(--speed) linear infinite;
}

/* TEXT */
.track span {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;

  white-space: nowrap;
  font-size: 8rem; /* reduced a bit for vertical space */
  line-height: 1.5;

  background: linear-gradient(to right, #a2a2a2, #fff, #212121);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.track span small {
  font-size: 2.5rem;
  line-height: 1.2;
  background: none;
  color: var(--warning);
  font-weight: bold;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}
